@model PropertiesValue

@{
    Layout = null;
}

<style>
    form {
        padding: 10px;
    }

    .circleInput {
        border-radius: 3px;
    }
</style>

<form asp-controller="PropertiesValue" asp-action="Edit" method="post">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ویرایش مقدار خصوصیت</h4>
    </div>

    <input type="hidden" asp-for="properties_id"/>
    <input type="hidden" asp-for="isEnable"/>


    <div class="modal-body form-horizontal">

        <div class="form-group">
            <label asp-for="value" class="control-label"></label>
            <input asp-for="value" class="form-control circleInput" required />
        </div>


    </div>


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
        <button class="btn btn-success" type="submit">
            ویرایش
        </button>
    </div>

</form>


