@model IEnumerable<FileManager>
<style>
    .circleInput {
        border-radius: 3px;
    }

    .area {
        min-width: 386px;
        min-height: 124px;
        max-width: 386px;
        max-height: 124px;
    }

    .allfiles {
        display: inline-block;
        padding: 10px;
        border: 1px dashed #808080;
        width: 100%;
        height: 400px;
    }

        .allfiles img {
            border-radius: 5px;
            width: 100px;
            height: 100px;
            margin: 3px;
        }

        .allfiles
        {
            overflow:scroll;
        }

    .delimg:hover
    {
        cursor:pointer;
    }
       
</style>

<div class="hidden" id="message">
    <span class="close" data-dismiss="alert">&times;</span>
    <p>

    </p>
</div>
<h4>
    افزودن تصویر جدید به گالری
</h4>


<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="col-md-12" style="margin-bottom:15px; margin-top:15px;">
        <form asp-area="AdminPanel" asp-controller="Category" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>


        <div class="col-md-8">

            <div class="allfiles" >

                @if (Model!=null)
                {
                    @foreach (var file in Model)
                    {

                        <img   src="~/upload/gallaryUp/normalimage/@file.path" />
                        <i class="glyphicon glyphicon-minus-sign delimg" title="حذف تصویر"  style="color:red" img-id="@file.Id" ></i>

                    }

                }
                

            </div>

        </div>


        <div class="col-md-4">

            @*<div style="border:1px dashed #808080;width:400px; height:300px;margin-bottom:5px" id="glcontain">

                </div>*@

            <div class="img-bordered">
                <input type="file" id="glfiles"  accept="image/*" />
            </div>
            <button class="btn btn-block btn-info" style="margin-top:10px" onclick="upload()" >آپلود</button>
            <div id="sdivmessage" class="text-center hidden" style="color:green;">

            </div>
        </div>

    </div>
</div>

@section PanelScripts{

    <script type="text/javascript">

      
        
        function alertcus(adonclass , msg) {
            $('#message').removeClass("hidden");
            $('#message').addClass(adonclass);
            $('#message p').text(msg);

            
        }
        
        function upload()
        {
            var data = new FormData();

            $.each($("input[type='file']")[0].files, function (i, file) {
                data.append('files', file);
            });

            if (data!=null && data.getAll("files").length != 0) {

                $.ajax({
                    type: 'POST',
                    url: '/AdminPanel/file/UploadFile',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status = "success") {
                            var names = result.imagenames.split(',');
                            var ids = result.fileid.split(',');

                            for (var i = 0; i < names.length - 1; i++)
                            {

                                var el = document.createElement('img');

                                el.setAttribute('class' , 'item');

                                var del = document.createElement('i');

                               

                                del.setAttribute('class','glyphicon glyphicon-minus-sign delimg');
                                del.setAttribute('title', 'حذف تصویر');
                                del.setAttribute('img-id', ids[i]);
                                del.style.color = "red";

                               

                                el.setAttribute("src", "\\upload\\gallaryUp\\normalimage\\" + names[i]);

                                $('.allfiles').append(el);

                                //$('.allfiles.item').append();

                                el.after(del);

                            }

                        }

                        alertcus("alert alert-info", result.message);


                    },
                    error: function (err) {
                        alertcus("alert alert-danger", err.message);
                    }
                })

            } else {
                alertcus("alert alert-danger", "فایلی جهت آپلود انتخاب شود");
            }
        }


        $('.delimg').click(function () {

            let fileId = $(this).attr('img-id');
            $(this).prev().remove();
            $(this).remove();

            $.ajax({
                type: 'POST',
                url: '/AdminPanel/file/DeleteFile',
                data: { id: fileId},
                success: function (result) {
                    if (result.status = "success") {

                        alertcus("alert alert-success", result.message);

                    }
                    else {
                        alertcus("alert alert-info", result.message);
                    }

                    


                },
                error: function (err) {
                    alertcus("alert alert-danger", err.message);
                }
            })
            


        })


    </script>
}

