@model Appsetting

@{
    Layout = null;
}

<form asp-controller="appsetting" asp-action="Delete" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">حذف تنظیمات اپلیکیشن</h4>
    </div>
        
    <div class="modal-body form-horizontal">
        آیا از حذف  این تنظیمات مطمئن هستید؟
      

        <br />
        <div class="alert alert-info">
            <span class="close" data-dismiss="alert">&times;</span>
            بهتر است عملیات حذف تنظیمات را انجام ندهید و فقط تنظیمات موجود را <b class="text-success">ویرایش</b> کنید.
        </div>
    </div>


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
        <button class="btn btn-danger" type="submit">
            حذف
        </button>
    </div>

</form>